@{}
<a asp-area="CaseStudyMomPop" asp-controller="Home" asp-action="CaseStudyMomPop">
    <div class="showcase-box1">
        <center>
            <img class="showcase-image" src="/img/mom_pop.png" /><b><p>Case Study - Kiosk App</p></b>
        </center>
        <div class="showcase-inner-box">
            <p class="showcase-inner-paragraph">Touchscrean app development for Mom and Pop's Pizzeria</p>
        </div>
    </div>
</a>
<a href="https://www.memoryspace.io" target="_blank">
    <div class="showcase-box2">
        <center>
            <img class="showcase-image" src="/img/sv.png" /><p><b>Case Study - ERP</b></p>
        </center>
        <div class="showcase-inner-box">
            <p class="showcase-inner-paragraph">Cloud enterprise resource planning customization</p>
        </div>
    </div>
</a>
<a asp-area="CaseStudyMagnadigi" asp-controller="Home" asp-action="CaseStudyMagnadigi">
    <div class="showcase-box3">
        <center>
            <img class="showcase-image" src="/img/md.png" /><p><b>Case Study - Web App</b></p>
        </center>
        <div class="showcase-inner-box">
            <p class="showcase-inner-paragraph">.NET web app front- and back-end design which is connected to ERPNEXT.</p>
        </div>
    </div>
</a>