@model magnadigi.Controllers.ContactController
@{
    ViewData["Title"] = "magnadigi.com";
}
@*Place this GoogleAnalyticsScript on any non sensative, external page that requires analytics only!*@
@section GoogleAnalyticsScript {
    <!-- Google tag (gtag.js) which is only loaded outside of customer portal-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WX92D67Z8T"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-WX92D67Z8T');
    </script>
}
<div class="vert-bar-wrapper">
    <div class="case-study-imagae-container">
        <section4>
            <div class="flexbox-container-case-study2">
                <span class="case-study-row">
                    <div class="case-study-icon-box">
                        <p class="case-study-icon-text">Case Study</p>
                    </div>
                    <div class="case-study-textbox">
                        <p class="case-study-heading3">&nbsp - GroupConscience.ai</p>
                    </div>
                </span>
                <div class="author-bar">
                    <p class="author-bar-text">Author: Russell Steele</p>
                    <p class="author-bar-text">Published: Apr 28, 2024</p>
                    <p class="author-bar-text">Read Time: 4 min.</p>
                </div>
                <div class="case-study-image-container">
                    <center><img src="/img/case-study/gc.png" class="case-study-image" style="background-color:#bebebe; padding: 25px;" /></center>
                </div>
                <p class="case-study-heading2" style="margin-bottom:-50px;">Project Summery</p>
                <p class="case-study-text">
                    GroupConscience.ai was developed as a collaborative human in the middle AI trainng loop.  The online application gives individual members a chance to contribute and vote on posted truths put forward by fellow recovering alcoholics. 
                    In turn, the truths that have the highest acceptance are periodically ingested to improve the AI model. Thus, the responses reflect the conscience of the people that have contributed over time.
                </p>
                <p class="case-study-text">
                    This is a bottom-up, rather than top-down approach. At GroupConscience.ai individuals decide which posts to promote rather than companies or other outside influences. In the end the LLM has the abillity to respond in line with the conscience 
                    of it's members rather than sounding clinical or having the tone of a Wikipedia article.
                </p>
                <p class="case-study-text">
                    Here is a distilled list of the design challenges that were addressed durring the creation of the system.
                </p>
                <p class="case-study-text">
                    <ol type="1">
                        <li class="case-study-text-numbered-list">
                            The application must be secure while not using any external API's to handle member data.
                        </li>
                        <li class="case-study-text-numbered-list">
                            The responses must be synthesized and returned within 2000ms using a single RTX4090GPU.
                        </li>
                        <li class="case-study-text-numbered-list">
                            Member comments that have grater than or equal to a variable number of up votes, must be stored in a vector database.
                        </li>
                        <li class="case-study-text-numbered-list">
                            All AI responses must be based on AA literature and or member input. No information outside of these sources can be included in any AI response. 
                        </li>
                        <li class="case-study-text-numbered-list">
                            Members must be able to star, I.E. save, truths so they are available in their login portal for later viewing.
                        </li>
                        <li class="case-study-text-numbered-list">
                            Members must be able to review and edit ther inputs through the member portal.
                        </li>
                        <li class="case-study-text-numbered-list">
                            All memeber data must remain Anonymous. No identifiable information can be stored within the system.
                        </li>
                    </ol>
                </p>
                <center><button type="button" class="button-login-center" style="margin-left:auto;margin-right:auto;" onclick="location.href='https://www.groupconscience.ai/'">Visit GroupConscience.ai</button></center>
            </div>
        </section4>
    </div>
    <section5 class="flexbox-contact-dialog-container">
        <div class="flexbox-container center">
            <div class="dialog-box-container">
                @*Start new form here.*@
                <div class="flexbox-container">
                    <form method="post" action="/Contact" enctype="multipart/form-data">
                        <center><img src="/icon/device-message.svg" style="height:100px;justify-content:center;" /></center>
                        <center><h1>Contact</h1></center>
                        <div class="form-floating mb-3">
                            <p><div asp-validation-summary="ModelOnly" class="alert-color hidden"></div></p>
                            <input asp-for="Name" id="Name" class="form-control" placeholder="First/Last Name" required />
                            <label asp-for="Name">Name</label>
                            <p style="margin:10px;"><span asp-validation-for="Name" class="alert-color"></span></p>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Business" class="form-control" id="Business" placeholder="Company Name" required />
                            <label asp-for="Business"></label>
                            <p style="margin:5px;"><span asp-validation-for="Business" class="alert-color"></span></p>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Phone" id="Phone" name="Phone" placeholder="(XXX) XXX-XXXX" class="form-control" required />
                            <label asp-for="Phone"></label>
                            <p style="margin:5px;"><span asp-validation-for="Phone" class="alert-color"></span></p>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Email" id="Email" class="form-control" placeholder="example@somewhere.com" required />
                            <label asp-for="Email"></label>
                            <p style="margin:5px;"><span asp-validation-for="Email" class="alert-color"></span></p>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea asp-for="Message" id="Message" class="form-control" style="height: 100px" placeholder="Message" required></textarea>
                            <label asp-for="Message"></label>
                            <p style="margin:5px;"><span asp-validation-for="Message" class="alert-color"></span></p>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="startDate" class="form-control" id="startDate" />
                            <label asp-for="startDate"></label>
                            <p style="margin:5px;"><span asp-validation-for="startDate" class="alert-color"></span></p>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-control" asp-for="priorityLevel" name="priorityLevel" id="priorityLevel">
                                <option>High</option>
                                <option>Medium</option>
                                <option>Low</option>
                            </select>
                            <label asp-for="priorityLevel"></label>
                            <p style="margin:5px;"><p><span asp-validation-for="priorityLevel" class="alert-color"></span></p>
                        </div>
                        <div class="form-floating mb-3">
                            <center><button type="submit" class="form-button">Send</button></center>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section5>
    <br /><br /><br /><br /><br /><br /><br />
    <section5 class="flexbox-bottom-row-case-study">
        <p id="magnadigi-text" class="magnadigi-text">magnadigi</p>
        <div class="container-lower">
            <a href="/Home/CaseStudyMomPop?area=CaseStudyMomPop">
                <div class="showcase-box1">
                    <center>
                        <img class="showcase-image" src="/img/mom_pop.png" /><b><p>Case Study - Kiosk App</p></b>
                    </center>
                    <div class="showcase-inner-box">
                        <p class="showcase-inner-paragraph">Touchscrean app development for Mom and Pop's Pizzeria</p>
                    </div>
                </div>
            </a>
            <a href="/Home/CaseStudyGroupConscience?area=CaseStudyGroupConscience">
                <div class="showcase-box2">
                    <center>
                        <img class="showcase-image" src="/img/gcai.png" /><p><b>Giving Back - AI</b></p>
                    </center>
                    <div class="showcase-inner-box">
                        <p class="showcase-inner-paragraph">Link to our social contribution which utilizes retrieval augmented generation (RAG) with our fine-tuned large language model (LLM). </p>
                    </div>
                </div>
            </a>
            <a href="/Home/CaseStudyMagnadigi?area=CaseStudyMagnaDigi">
                <div class="showcase-box3">
                    <center>
                        <img class="showcase-image" src="/img/md.png" /><p><b>Case Study - Web App</b></p>
                    </center>
                    <div class="showcase-inner-box">
                        <p class="showcase-inner-paragraph">.NET web app front- and back-end design which is connected to ERPNEXT.</p>
                    </div>
                </div>
            </a>
            <a href="/Home/CaseStudyOnAccount?area=CaseStudyOnAccount">
                <div class="showcase-box3">
                    <center>
                        <img class="showcase-image" src="/img/oa.png" /><p><b>Case Study - On-Account</b></p>
                    </center>
                    <div class="showcase-inner-box">
                        <p class="showcase-inner-paragraph">Custom double entry accrual based accounting application.</p>
                    </div>
                </div>
            </a>
            <a href="/Home/CaseStudyDisasterAversion?area=CaseStudyDisasterAversion">
                <div class="showcase-box3">
                    <center>
                        <img class="showcase-image" src="/img/da.png" /><p><b>Case Study - Site Monitoring</b></p>
                    </center>
                    <div class="showcase-inner-box">
                        <p class="showcase-inner-paragraph">Remote site monitoring and notification application.</p>
                    </div>
                </div>
            </a>
        </div>
    </section5>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

