@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<div class="flexbox-container center">
    <h1>@ViewData["Title"]</h1>
    <div class="row box text-field dialog-box-container"> 
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>


