@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Message Sent!";
}
<br /><br /><br />
<div class="flexbox-container center">
    <div class="flexbox-container">
        <div class="flexbox-item-contact-center">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="flexbox-container">
        <div class="row dialog-box-container">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <div class="flexbox-item-contact">
                    <p>Please check your email inbox and junk folder, if necessary, to reset your password.</p>
                    <br /><br /><br />
                    <div>
                        <button type="submit" class="form-control form-button">Return to Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
