@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<br />
<br />
<div class="content-block-center">
    <p>Enter the email associated with your account to have a reset link sent to your inbox.</p>
</div>
<div class="content-block-center">
<div class="flexbox-container center">
    <div class="dialog-box-container">
        <form method="post" class="form-login">
            <center><img src="~/favicon.ico" height="125px" /></center>
            <center><p><h2>@ViewData["Title"]</h2></p></center>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" required/>
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="alert-color"></span>
            </div>
            </br>
            <div class="form-floating mb-3">
                <div class="form-button-container">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <button id="reset-submit" type="submit" class="form-button">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
