@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Message Sent!";
}
<br /><br /><br />
<div class="flexbox-container center">
    <div class="flexbox-container">
        <div class="row dialog-box-container">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <div class="flexbox-item-contact-center">
                    <h1>@ViewData["Title"]</h1>
                </div>
                <div class="flexbox-item-contact">
                    <p>Please check your email inbox and junk folder if necessary to confirm your request.</p>
                    <br />
                    <div>
                        <button type="submit" class="form-control form-button">Return to Login</button>
                    </div>
                </div>
                 <div class="form-floating mb-3" style="margin-left:2%;">
                    <p><a class="flexbox-item-text" id="Login" asp-page="./Login">Back to Login</a></p>
                    <p><a class="flexbox-item-text" id="Home" asp-page="./Home">Home</a></p>
                 </div>
            </form>
        </div>
    </div>
</div>
