@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    
}
<div class="content-block-center">
    <br />
    <br />
    <br />
</div>
<div class="flexbox-container center">
    <div class="dialog-box-container">
        <form id="account" method="post" class="form-login ">
            <center><img src="~/favicon.ico" height="125px" /></center>
            <center><p><h2>@ViewData["Title"]</h2></p></center>
            <br />
            <div class="form-floating mb-3">
                <input asp-for="Input.FirstName" id="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="FirstName" required/> 
                <label asp-for="Input.FirstName"></label>
                <div class="flexbox-container-alert">
                    <span asp-validation-for="Input.FirstName" class="alert-color"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.LastName" id="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="LastName" required />
                <label asp-for="Input.LastName"></label>
                <div class="flexbox-container-alert">
                    <span asp-validation-for="Input.LastName" class="alert-color"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.BusinessName" id="Input.BusinessName" class="form-control" autocomplete="username" aria-required="true" placeholder="BusinessName" required />
                <label asp-for="Input.BusinessName"></label>
                <div class="flexbox-container-alert">
                    <span asp-validation-for="Input.BusinessName" class="alert-color"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" id="Input.PhoneNumber" class="form-control" autocomplete="username" aria-required="true" placeholder="PhoneNumber" required />
                <label asp-for="Input.PhoneNumber"></label>
                <div class="flexbox-container-alert">
                    <span asp-validation-for="Input.PhoneNumber" class="alert-color"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" required />
                <label asp-for="Input.Email"></label>
                <div class="flexbox-container-alert">
                    <span asp-validation-for="Input.Email" class="alert-color"></span>
                </div>
            </div>
            <div class="form-floating mb-3">

                <input asp-for="Input.Password" id="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" required />
                <label asp-for="Input.Password"></label>
                <div class="flexbox-container-alert">
                    <span asp-validation-for="Input.Password" class="alert-color"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" id="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="ConfirmPassword" required />
                <label asp-for="Input.ConfirmPassword"></label>
                <div class="flexbox-container-alert">
                    <span asp-validation-for="Input.ConfirmPassword" class="alert-color"></span>
                </div>
            </div>
            </br>
            <div class="form-floating mb-3">
                <div class="form-button-container">
                <div asp-validation-summary="ModelOnly" class="alert-color"></div>
                    <button id="registerSubmit" class="form-button" type="submit">Register</button>
                </div>
            </div>   
            </br>
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
