@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
<br />
<br />
<div class="flexbox-container center">
   
    <div class="dialog-box-container">  
        <form id="account" method="post" class="">
            <center><img src="~/favicon.ico" height="125px" /></center>
            <center><h1>@ViewData["Title"]</h1></center>
            <input asp-for="Input.Code" type="hidden" />
            <br />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" id="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" required />
                <label asp-for="Input.Email"></label>
                <div class="flexbox-container-alert">
                    <span asp-validation-for="Input.Email" class="alert-color"></span>
                </div>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" id="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" required />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="form-text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" id="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" required />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="form-text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <div class="form-button-container">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <button id="submit" type="submit" class="form-button">Log in</button>
                </div>
            </div>
            </form>
        </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}